/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap'); */

@font-face {
    font-family: faliya;
    src: url(../fonts/Craft\ Vintage.otf);
}

* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    padding: 1rem;
    background: linear-gradient(0deg, #d6c099 0%, #aac5cc 100%);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.avatar {
    width: 150px;
    height: 150px;
    background-image: url(../image/2.jpg);
    background-size: cover;
    border-radius: 50%;
    display: flex;
    margin-bottom: .5rem;
}

.item {
    background-color: rgb(255, 247, 230);
    padding: 1rem 10rem;
    border-radius: 8px;
    width: 100%;
    text-align: center;
    cursor: pointer;
}


.item:hover {
    background-color: #f5f5f5;
}

.item a {
    text-decoration: none;
    color: #9EB3B8 ;
    font-size: 15px;
    font-weight: 600;
}

h3 {
    font-family: 'faliya', sans-serif;
    font-weight: 300;
    font-size: 25px;
    color: white;
}

@media (max-width: 768px) {
    body {
        align-items: flex-start;
    }

    .container {
        height: 100vh;
        width: 100%;
    }

    .item {
        padding: 1rem 5rem;
    }
}